@media print {
    body {
      margin: 0;
      padding: 0;
    }
  
    .print\:hidden {
      display: none !important;
    }
  
    .relative {
      margin: 0 auto;
      width: 800px; /* ความกว้างของกระดาษ A4 */
      height: 1120px; /* ความสูงของกระดาษ A4 */
    }
  
    .absolute {
      position: absolute;
    }
  }
  